<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <!-- 
  The application can be configured to persist it's data in different databases.
  The preconfigured connections are defined in Web.sqlite.config for a SqLite database and Web.oracle.config 
  for a Oracle database 
  -->
  
  <appSettings file="Web.mssql.config">
    <!-- the url to connect to when using the HTML interface.  This parameter is for internal tests and configuration only  -->
    <add key="RequestUrl" value="http://localhost:51976/Peter/Peter.aspx"/>
    <add key="sysadmin" value="arnigeir-w500\\arnigeir,lsh.is\\arnigeir" />
  </appSettings>
  
  
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    
    
    <!--
    <authentication mode="Windows" />
    <authorization>
      <allow users="arnigeir-w500\arnigeir" />
      <deny users="*" />
    </authorization>
    -->


		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
